body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(background.png);
	background-repeat: repeat-x;
	
}
nav ul {
	margin-top: 20px;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

nav.links ul{
	text-align: right;
}

nav ul li {
	display: inline;
}
article{
	text-align: center;
}