/*Deals with the head elements. Head wasn't working*/
#logo{
	margin: 20px;
	height: 100px;
	text-align: top left;
}
#links{
	margin: 30px;
	line-height: 70px;
	float: right;
	font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
nav ul li{
	display: inline;
	margin: 10px;
}
li a:hover{
	color: red;
}
#contact{
	margin-left: 10px;
	background-color: cornflowerblue;
	border-radius: 12px;
	font-size: 20px;
	color: cornsilk;
	padding: 10px 24px;
}
body {
	font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background-image: url(background.png);
	background-repeat: repeat-x;
}
#a1{
	margin: 30px;
	text-align: center;
}
#a2{
	margin: 30px;
	text-align: center;
}

footer{
	
	background-color: rgb(55, 58, 58);
	align-self: baseline;
	
}
